In [1]:
import os
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy.orm import sessionmaker
from sqlalchemy import Table, Column, String, create_engine, MetaData
from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy
import logging

app = Flask(__name__)

In [2]:
#app.config["SQLALCHEMY_DATABASE_URI"] = "sqlite:///db/pet_adoptions.sqlite"
#db = SQLAlchemy(app)

In [3]:
#Base = automap_base()

In [4]:
#Base.prepare(db.engine, reflect=True)

In [5]:
breed_file= "static/data/breed_labels.csv"
breed_df= pd.read_csv(breed_file)
breed_df.head()

   BreedID  Type         BreedName
0        1     1     Affenpinscher
1        2     1      Afghan Hound
2        3     1  Airedale Terrier
3        4     1            Akbash
4        5     1             Akita

In [6]:

breed_df.describe()

          BreedID        Type
count  307.000000  307.000000
mean   154.000000    1.214984
std     88.767487    0.411482
min      1.000000    1.000000
25%     77.500000    1.000000
50%    154.000000    1.000000
75%    230.500000    1.000000
max    307.000000    2.000000

In [7]:
logging.basicConfig(level=logging.INFO)
logging.getLogger("sqlalchemy.engine").setLevel(logging.INFO)
engine = create_engine("sqlite:///pet_adoptions.sqlite", echo=False)

In [8]:
engine.table_names()

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
INFO:sqlalchemy.engine.base.Engine:()
INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
INFO:sqlalchemy.engine.base.Engine:()
INFO:sqlalchemy.engine.base.Engine:SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
INFO:sqlalchemy.engine.base.Engine:()

['breed_labels', 'color_labels', 'state_labels', 'train']

In [9]:
color_file= "static/data/color_labels.csv"
color_df= pd.read_csv(color_file)
color_df.head()

   ColorID ColorName
0        1     Black
1        2     Brown
2        3    Golden
3        4    Yellow
4        5     Cream

In [10]:
color_df.describe()

        ColorID
count  7.000000
mean   4.000000
std    2.160247
min    1.000000
25%    2.500000
50%    4.000000
75%    5.500000
max    7.000000

In [11]:
breed_df.to_sql(name='breed_labels', con=engine, if_exists='append', index=True)
color_df.to_sql(name='color_labels', con=engine, if_exists='append', index=True)

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("breed_labels")
INFO:sqlalchemy.engine.base.Engine:()
INFO:sqlalchemy.engine.base.Engine:BEGIN (implicit)
INFO:sqlalchemy.engine.base.Engine:INSERT INTO breed_labels ("index", "BreedID", "Type", "BreedName") VALUES (?, ?, ?, ?)
INFO:sqlalchemy.engine.base.Engine:((0, 1, 1, 'Affenpinscher'), (1, 2, 1, 'Afghan Hound'), (2, 3, 1, 'Airedale Terrier'), (3, 4, 1, 'Akbash'), (4, 5, 1, 'Akita'), (5, 6, 1, 'Alaskan Malamute'), (6, 7, 1, 'American Bulldog'), (7, 8, 1, 'American Eskimo Dog')  ... displaying 10 of 307 total bound parameter sets ...  (305, 305, 2, 'Turkish Van'), (306, 306, 2, 'Tuxedo'))
INFO:sqlalchemy.engine.base.Engine:COMMIT
INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("color_labels")
INFO:sqlalchemy.engine.base.Engine:()
INFO:sqlalchemy.engine.base.Engine:BEGIN (implicit)
INFO:sqlalchemy.engine.base.Engine:INSERT INTO color_labels ("index", "ColorID", "ColorName") VALUES (?, ?, ?)
INFO:sqlalchemy.engine.base.Engine:((0, 1, 'Black'), (1, 2, 'Brown'), (2, 3, 'Golden'), (3, 4, 'Yellow'), (4, 5, 'Cream'), (5, 6, 'Gray'), (6, 7, 'White'))
INFO:sqlalchemy.engine.base.Engine:COMMIT

In [12]:
engine.table_names()

INFO:sqlalchemy.engine.base.Engine:SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
INFO:sqlalchemy.engine.base.Engine:()

['breed_labels', 'color_labels', 'state_labels', 'train']

In [13]:
train_file= "static/data/train.csv"
train_df= pd.read_csv(train_file)
train_df.head()

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed
0,2,Nibble,3,299,0,1,1,7,0,1,...,1,1,100,41326,8480853f516546f6cf33aa88cd76c379,0,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,1.0,2
1,2,No Name Yet,1,265,0,1,1,2,0,2,...,1,1,0,41401,3082c7125d8fb66f7dd4bff4192c8b14,0,I just found it alone yesterday near my apartm...,6296e909a,2.0,0
2,1,Brisco,1,307,0,1,2,7,0,2,...,1,1,0,41326,fa90fa5b1ee11c86938398b60abc32cb,0,Their pregnant mother was dumped by her irresp...,3422e4906,7.0,3
3,1,Miko,4,307,0,2,1,2,0,2,...,1,1,150,41401,9238e4f44c71a75282e62f7136c6b240,0,"Good guard dog, very alert, active, obedience ...",5842f1ff5,8.0,2
4,1,Hunter,1,307,0,1,1,0,0,2,...,1,1,0,41326,95481e953f8aed9ec3d16fc4509537e8,0,This handsome yet cute boy is up for adoption....,850a43f90,3.0,2

In [14]:
train_df.describe()

,Type,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,FurLength,Vaccinated,Dewormed,Sterilized,Health,Quantity,Fee,State,VideoAmt,PhotoAmt,AdoptionSpeed
count,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000
mean,1.457614,10.452078,265.272594,74.009738,1.776162,2.234176,3.222837,1.882012,1.862002,1.467485,1.731208,1.558727,1.914227,1.036617,1.576069,21.259988,41346.028347,0.056760,3.889215,2.516441
std,0.498217,18.155790,60.056818,123.011575,0.681592,1.745225,2.742562,2.984086,0.547959,0.599070,0.667649,0.695817,0.566172,0.199535,1.472477,78.414548,32.444153,0.346185,3.487810,1.177265
min,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,41324.000000,0.000000,0.000000,0.000000
25%,1.000000,2.000000,265.000000,0.000000,1.000000,1.000000,0.000000,0.000000,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,0.000000,41326.000000,0.000000,2.000000,2.000000
50%,1.000000,3.000000,266.000000,0.000000,2.000000,2.000000,2.000000,0.000000,2.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,0.000000,41326.000000,0.000000,3.000000,2.000000
75%,2.000000,12.000000,307.000000,179.000000,2.000000,3.000000,6.000000,5.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,0.000000,41401.000000,0.000000,5.000000,4.000000
max,2.000000,255.000000,307.000000,307.000000,3.000000,7.000000,7.000000,7.000000,4.000000,3.000000,3.000000,3.000000,3.000000,3.000000,20.000000,3000.000000,41415.000000,8.000000,30.000000,4.000000

In [15]:
train_df.to_sql(name='train', con=engine, if_exists='append', index=True)

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("train")
INFO:sqlalchemy.engine.base.Engine:()
INFO:sqlalchemy.engine.base.Engine:BEGIN (implicit)
INFO:sqlalchemy.engine.base.Engine:INSERT INTO train ("index", "Type", "Name", "Age", "Breed1", "Breed2", "Gender", "Color1", "Color2", "Color3", "MaturitySize", "FurLength", "Vaccinated", "Dewormed", "Sterilized", "Health", "Quantity", "Fee", "State", "RescuerID", "VideoAmt", "Description", "PetID", "PhotoAmt", "AdoptionSpeed") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
INFO:sqlalchemy.engine.base.Engine:((0, 2, 'Nibble', 3, 299, 0, 1, 1, 7, 0, 1, 1, 2, 2, 2, 1, 1, 100, 41326, '8480853f516546f6cf33aa88cd76c379', 0, "Nibble is a 3+ month old ball of cuteness. He is energetic and playful. I rescued a couple of cats a few months ago but could not get them neutered i ... (61 characters truncated) ...  little kitty. I do not have enough space and funds to care for more cats in my household. Looking for responsible people to take over Nibble's care.", '86e1089a3', 1.0, 2), (1, 2, 'No Name Yet', 1, 265, 0, 1, 1, 2, 0, 2, 2, 3, 3, 3, 1, 1, 0, 41401, '3082c7125d8fb66f7dd4bff4192c8b14', 0, 'I just found it alone yesterday near my apartment. It was shaking so I had to bring it home to provide temporary care.', '6296e909a', 2.0, 0), (2, 1, 'Brisco', 1, 307, 0, 1, 2, 7, 0, 2, 2, 1, 1, 2, 1, 1, 0, 41326, 'fa90fa5b1ee11c86938398b60abc32cb', 0, 'Their pregnant mother was dumped by her irresponsible owner at the roadside near some shops in Subang Jaya. Gave birth to them at the roadside. They  ... (95 characters truncated) ... o tying or caging for long hours as guard dogs. However, it is acceptable to cage or tie for precautionary purposes. Interested to adopt pls call me.', '3422e4906', 7.0, 3), (3, 1, 'Miko', 4, 307, 0, 2, 1, 2, 0, 2, 1, 1, 1, 2, 1, 1, 150, 41401, '9238e4f44c71a75282e62f7136c6b240', 0, 'Good guard dog, very alert, active, obedience waiting for her good master, plz call or sms for more details if you really get interested, thanks!!', '5842f1ff5', 8.0, 2), (4, 1, 'Hunter', 1, 307, 0, 1, 1, 0, 0, 2, 1, 2, 2, 2, 1, 1, 0, 41326, '95481e953f8aed9ec3d16fc4509537e8', 0, "This handsome yet cute boy is up for adoption. He is the most playful pal we've seen in our puppies. He loves to nibble on shoelaces , Chase you at s ... (92 characters truncated) ... ing home for Hunter , one that will take care of him and give him the love that he needs. Please call urgently if you would like to adopt this cutie.", '850a43f90', 3.0, 2), (5, 2, None, 3, 266, 0, 2, 5, 6, 0, 2, 1, 2, 2, 2, 1, 1, 0, 41326, '22fe332bf9c924d4718005891c63fbed', 0, 'This is a stray kitten that came to my house. Have been feeding it, but cannot keep it.', 'd24c30b4b', 2.0, 2), (6, 2, 'BULAT', 12, 264, 264, 1, 1, 0, 0, 2, 3, 2, 2, 3, 1, 1, 300, 41326, '1e0b5a458b5b77f5af581d57ebf570b3', 0, 'anyone within the area of ipoh or taiping who interested to adopt my cat can contact my father at this number (mazuvil)or can just email me. currentl ... (102 characters truncated) ...  my hometown.there is a lot of cats in my house rite now..i think i should let one of them go to a better owner who can give better attention to him.', '1caa6fcdb', 3.0, 1), (7, 1, 'Siu Pak & Her 6 Puppies', 0, 307, 0, 2, 1, 2, 7, 2, 1, 2, 2, 2, 1, 6, 0, 41326, '1fba5f6e5480946254590d48f9c5198d', 0, 'Siu Pak just give birth on 13/6/10 to 6puppies. Interested pls call or sms me. Left 2female puppies on 2/7/10', '97aa9eeac', 9.0, 3)  ... displaying 10 of 14993 total bound parameter sets ...  (14991, 2, 'Ms Daym', 9, 266, 0, 2, 4, 7, 0, 1, 1, 1, 1, 1, 1, 1, 0, 41336, 'c311c0c569245baa147d91fa4e351ae4', 0, 'she is very shy..adventures and independent..she just hates cages..but loves climbing trees and rooftops..however she is very loving.', 'e4da1c9e4', 3.0, 4), (14992, 1, 'Fili', 1, 307, 307, 1, 2, 0, 0, 2, 1, 2, 2, 2, 1, 1, 0, 41332, '9ed1d5493d223eaa5024c1a031dbc9c2', 0, 'Fili just loves laying around and also loves being under the sun; Very laidback and quiet.', 'a83d95ead', 1.0, 3))
INFO:sqlalchemy.engine.base.Engine:COMMIT

In [16]:
postcode_file= "static/data/geocoded_state_labels.csv"
postcode_df= pd.read_csv(postcode_file)
postcode_df.head()

   StateID     StateName               LatLong
0    41336         Johor  1.934400, 103.358727
1    41325         Kedah  6.155672, 100.569649
2    41367      Kelantan  6.125397, 102.238068
3    41401  Kuala Lumpur     3.1412, 101.68653
4    41415        Labuan  5.285153, 115.247787

In [17]:
postcode_df.describe()

            StateID
count     15.000000
mean   41349.733333
std       29.001149
min    41324.000000
25%    41328.500000
50%    41336.000000
75%    41364.000000
max    41415.000000

In [18]:
postcode_df.to_sql(name='state_labels', con=engine, if_exists='append', index=True)

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("state_labels")
INFO:sqlalchemy.engine.base.Engine:()
INFO:sqlalchemy.engine.base.Engine:BEGIN (implicit)
INFO:sqlalchemy.engine.base.Engine:INSERT INTO state_labels ("index", "StateID", "StateName", "LatLong") VALUES (?, ?, ?, ?)
INFO:sqlalchemy.engine.base.Engine:((0, 41336, 'Johor', '1.934400, 103.358727'), (1, 41325, 'Kedah', '6.155672, 100.569649'), (2, 41367, 'Kelantan', '6.125397, 102.238068'), (3, 41401, 'Kuala Lumpur', '3.1412, 101.68653'), (4, 41415, 'Labuan', '5.285153, 115.247787'), (5, 41324, 'Melaka', '2.200844, 102.240143'), (6, 41332, 'Negeri Sembilan', '2.731813, 102.252502'), (7, 41335, 'Pahang', '3.974341, 102.438057')  ... displaying 10 of 15 total bound parameter sets ...  (13, 41326, 'Selangor', '3.509247, 101.524803'), (14, 41361, 'Terengganu', '5.207053, 103.205299'))
INFO:sqlalchemy.engine.base.Engine:COMMIT

In [19]:
color_id1=engine.execute("SELECT State from train where Color1 = 1")

INFO:sqlalchemy.engine.base.Engine:SELECT State from train where Color1 = 1
INFO:sqlalchemy.engine.base.Engine:()

In [20]:

color_id7=engine.execute("SELECT State from train where Color1 = 7")

INFO:sqlalchemy.engine.base.Engine:SELECT State from train where Color1 = 7
INFO:sqlalchemy.engine.base.Engine:()

In [21]:

color_by_postcode= engine.execute("Select State, Color1, COUNT(COLOR1) from train Group By State, Color1")

INFO:sqlalchemy.engine.base.Engine:Select State, Color1, COUNT(COLOR1) from train Group By State, Color1
INFO:sqlalchemy.engine.base.Engine:()

In [22]:
print(color_by_postcode)
for value in color_by_postcode:
    print(value)

<sqlalchemy.engine.result.ResultProxy object at 0x0000021FB1F50DA0>
(41324, 1, 318)
(41324, 2, 270)
(41324, 3, 54)
(41324, 4, 30)
(41324, 5, 48)
(41324, 6, 30)
(41324, 7, 72)
(41325, 1, 378)
(41325, 2, 132)
(41325, 3, 72)
(41325, 4, 6)
(41325, 5, 42)
(41325, 6, 12)
(41325, 7, 18)
(41326, 1, 26106)
(41326, 2, 13446)
(41326, 3, 3300)
(41326, 4, 1764)
(41326, 5, 3150)
(41326, 6, 2280)
(41326, 7, 2238)
(41327, 1, 2490)
(41327, 2, 1386)
(41327, 3, 246)
(41327, 4, 192)
(41327, 5, 288)
(41327, 6, 180)
(41327, 7, 276)
(41330, 1, 1254)
(41330, 2, 708)
(41330, 3, 102)
(41330, 4, 78)
(41330, 5, 222)
(41330, 6, 90)
(41330, 7, 66)
(41332, 1, 768)
(41332, 2, 378)
(41332, 3, 60)
(41332, 4, 72)
(41332, 5, 114)
(41332, 6, 60)
(41332, 7, 66)
(41335, 1, 282)
(41335, 2, 102)
(41335, 3, 18)
(41335, 4, 18)
(41335, 5, 18)
(41335, 6, 18)
(41335, 7, 54)
(41336, 1, 1488)
(41336, 2, 720)
(41336, 3, 162)
(41336, 4, 174)
(41336, 5, 162)
(41336, 6, 156)
(41336, 7, 180)
(41342, 1, 66)
(41342, 2, 6)
(41342, 4, 6)
(41345, 1, 54)
(41345, 2, 36)
(41345, 4, 30)
(41345, 6, 12)
(41361, 1, 42)
(41361, 2, 24)
(41361, 3, 24)
(41361, 4, 30)
(41361, 5, 12)
(41361, 6, 24)
(41367, 1, 36)
(41367, 2, 18)
(41367, 5, 12)
(41367, 6, 6)
(41367, 7, 18)
(41401, 1, 11280)
(41401, 2, 5274)
(41401, 3, 1638)
(41401, 4, 1404)
(41401, 5, 1224)
(41401, 6, 1236)
(41401, 7, 1014)
(41415, 3, 6)
(41415, 5, 12)

In [23]:
breed_by_postcode= engine.execute("Select State, Breed1, COUNT(Breed1) from train GROUP BY State, Breed1 ")

INFO:sqlalchemy.engine.base.Engine:Select State, Breed1, COUNT(Breed1) from train GROUP BY State, Breed1
INFO:sqlalchemy.engine.base.Engine:()

In [24]:
for value in breed_by_postcode:
    print(value)

(41324, 98, 6)
(41324, 109, 12)
(41324, 141, 6)
(41324, 152, 6)
(41324, 179, 30)
(41324, 190, 6)
(41324, 195, 6)
(41324, 205, 12)
(41324, 218, 6)
(41324, 265, 114)
(41324, 266, 126)
(41324, 285, 36)
(41324, 292, 12)
(41324, 296, 6)
(41324, 299, 6)
(41324, 307, 432)
(41325, 39, 6)
(41325, 103, 18)
(41325, 109, 6)
(41325, 141, 78)
(41325, 152, 6)
(41325, 179, 6)
(41325, 195, 6)
(41325, 205, 6)
(41325, 218, 6)
(41325, 251, 6)
(41325, 254, 6)
(41325, 264, 12)
(41325, 265, 60)
(41325, 266, 174)
(41325, 268, 6)
(41325, 285, 30)
(41325, 289, 6)
(41325, 292, 12)
(41325, 297, 6)
(41325, 307, 204)
(41326, 0, 18)
(41326, 1, 6)
(41326, 3, 6)
(41326, 5, 6)
(41326, 10, 6)
(41326, 15, 6)
(41326, 17, 24)
(41326, 18, 36)
(41326, 19, 24)
(41326, 20, 306)
(41326, 24, 6)
(41326, 25, 6)
(41326, 26, 126)
(41326, 31, 48)
(41326, 32, 12)
(41326, 39, 78)
(41326, 42, 18)
(41326, 44, 42)
(41326, 49, 60)
(41326, 50, 24)
(41326, 56, 6)
(41326, 60, 114)
(41326, 61, 6)
(41326, 64, 6)
(41326, 65, 6)
(41326, 69, 144)
(41326, 70, 66)
(41326, 71, 12)
(41326, 72, 72)
(41326, 75, 84)
(41326, 76, 132)
(41326, 78, 288)
(41326, 82, 12)
(41326, 83, 24)
(41326, 85, 6)
(41326, 88, 12)
(41326, 97, 18)
(41326, 98, 6)
(41326, 99, 6)
(41326, 100, 6)
(41326, 102, 6)
(41326, 103, 378)
(41326, 105, 24)
(41326, 108, 6)
(41326, 109, 534)
(41326, 111, 18)
(41326, 114, 6)
(41326, 117, 54)
(41326, 119, 120)
(41326, 122, 12)
(41326, 125, 6)
(41326, 128, 222)
(41326, 129, 6)
(41326, 130, 6)
(41326, 141, 798)
(41326, 145, 12)
(41326, 147, 60)
(41326, 148, 12)
(41326, 150, 12)
(41326, 152, 198)
(41326, 165, 6)
(41326, 167, 12)
(41326, 169, 78)
(41326, 173, 84)
(41326, 178, 78)
(41326, 179, 576)
(41326, 182, 84)
(41326, 185, 24)
(41326, 187, 6)
(41326, 188, 6)
(41326, 189, 300)
(41326, 190, 18)
(41326, 195, 228)
(41326, 199, 6)
(41326, 200, 48)
(41326, 202, 30)
(41326, 203, 12)
(41326, 204, 18)
(41326, 205, 654)
(41326, 206, 108)
(41326, 207, 78)
(41326, 213, 384)
(41326, 214, 6)
(41326, 215, 12)
(41326, 218, 744)
(41326, 224, 6)
(41326, 227, 12)
(41326, 231, 30)
(41326, 232, 12)
(41326, 233, 6)
(41326, 234, 6)
(41326, 237, 12)
(41326, 239, 72)
(41326, 240, 24)
(41326, 241, 96)
(41326, 242, 72)
(41326, 243, 240)
(41326, 244, 30)
(41326, 246, 6)
(41326, 247, 288)
(41326, 249, 48)
(41326, 250, 48)
(41326, 251, 114)
(41326, 252, 72)
(41326, 253, 18)
(41326, 254, 378)
(41326, 256, 6)
(41326, 260, 6)
(41326, 262, 18)
(41326, 263, 12)
(41326, 264, 1194)
(41326, 265, 4284)
(41326, 266, 11838)
(41326, 268, 18)
(41326, 269, 12)
(41326, 270, 12)
(41326, 272, 18)
(41326, 273, 18)
(41326, 274, 24)
(41326, 276, 150)
(41326, 277, 24)
(41326, 279, 12)
(41326, 280, 24)
(41326, 281, 12)
(41326, 282, 60)
(41326, 283, 204)
(41326, 284, 24)
(41326, 285, 726)
(41326, 288, 60)
(41326, 289, 108)
(41326, 292, 888)
(41326, 293, 18)
(41326, 294, 24)
(41326, 295, 24)
(41326, 296, 6)
(41326, 297, 18)
(41326, 299, 1188)
(41326, 300, 54)
(41326, 301, 6)
(41326, 303, 180)
(41326, 304, 18)
(41326, 305, 36)
(41326, 306, 168)
(41326, 307, 21228)
(41327, 16, 6)
(41327, 20, 36)
(41327, 44, 6)
(41327, 49, 6)
(41327, 50, 6)
(41327, 58, 6)
(41327, 60, 54)
(41327, 69, 6)
(41327, 75, 36)
(41327, 76, 18)
(41327, 78, 12)
(41327, 83, 6)
(41327, 100, 12)
(41327, 102, 6)
(41327, 103, 18)
(41327, 109, 36)
(41327, 119, 12)
(41327, 128, 12)
(41327, 141, 90)
(41327, 147, 12)
(41327, 152, 18)
(41327, 169, 6)
(41327, 179, 60)
(41327, 182, 6)
(41327, 189, 12)
(41327, 195, 18)
(41327, 199, 6)
(41327, 203, 6)
(41327, 205, 36)
(41327, 207, 12)
(41327, 213, 12)
(41327, 218, 30)
(41327, 243, 18)
(41327, 247, 6)
(41327, 249, 12)
(41327, 250, 12)
(41327, 251, 12)
(41327, 252, 6)
(41327, 254, 24)
(41327, 264, 18)
(41327, 265, 306)
(41327, 266, 720)
(41327, 267, 6)
(41327, 268, 6)
(41327, 273, 6)
(41327, 277, 12)
(41327, 283, 36)
(41327, 285, 36)
(41327, 292, 84)
(41327, 296, 6)
(41327, 299, 36)
(41327, 300, 12)
(41327, 301, 6)
(41327, 303, 6)
(41327, 306, 6)
(41327, 307, 3048)
(41330, 1, 6)
(41330, 7, 6)
(41330, 15, 6)
(41330, 20, 12)
(41330, 26, 6)
(41330, 39, 12)
(41330, 42, 6)
(41330, 69, 12)
(41330, 72, 12)
(41330, 75, 6)
(41330, 76, 6)
(41330, 78, 6)
(41330, 100, 6)
(41330, 103, 18)
(41330, 109, 12)
(41330, 119, 6)
(41330, 123, 6)
(41330, 128, 6)
(41330, 141, 42)
(41330, 152, 12)
(41330, 178, 6)
(41330, 179, 54)
(41330, 189, 36)
(41330, 195, 18)
(41330, 202, 6)
(41330, 205, 24)
(41330, 207, 6)
(41330, 213, 6)
(41330, 218, 12)
(41330, 241, 18)
(41330, 242, 6)
(41330, 245, 6)
(41330, 247, 18)
(41330, 251, 6)
(41330, 254, 18)
(41330, 264, 42)
(41330, 265, 72)
(41330, 266, 240)
(41330, 268, 6)
(41330, 285, 18)
(41330, 289, 6)
(41330, 292, 24)
(41330, 295, 6)
(41330, 299, 48)
(41330, 300, 12)
(41330, 306, 6)
(41330, 307, 1596)
(41332, 19, 12)
(41332, 20, 6)
(41332, 39, 6)
(41332, 60, 6)
(41332, 109, 12)
(41332, 119, 6)
(41332, 141, 6)
(41332, 173, 6)
(41332, 178, 6)
(41332, 179, 12)
(41332, 205, 18)
(41332, 206, 12)
(41332, 233, 6)
(41332, 243, 12)
(41332, 254, 6)
(41332, 256, 6)
(41332, 264, 42)
(41332, 265, 180)
(41332, 266, 342)
(41332, 272, 6)
(41332, 279, 6)
(41332, 283, 12)
(41332, 285, 6)
(41332, 292, 30)
(41332, 299, 6)
(41332, 303, 6)
(41332, 306, 6)
(41332, 307, 738)
(41335, 15, 36)
(41335, 39, 24)
(41335, 76, 6)
(41335, 93, 6)
(41335, 129, 6)
(41335, 173, 6)
(41335, 205, 18)
(41335, 206, 6)
(41335, 213, 6)
(41335, 217, 6)
(41335, 243, 6)
(41335, 254, 6)
(41335, 265, 84)
(41335, 266, 192)
(41335, 284, 6)
(41335, 285, 6)
(41335, 292, 6)
(41335, 307, 84)
(41336, 0, 6)
(41336, 20, 24)
(41336, 26, 6)
(41336, 42, 6)
(41336, 60, 6)
(41336, 69, 12)
(41336, 75, 6)
(41336, 76, 18)
(41336, 103, 18)
(41336, 108, 6)
(41336, 109, 72)
(41336, 111, 6)
(41336, 119, 18)
(41336, 128, 36)
(41336, 141, 12)
(41336, 147, 12)
(41336, 152, 6)
(41336, 173, 12)
(41336, 179, 18)
(41336, 189, 24)
(41336, 195, 12)
(41336, 205, 60)
(41336, 213, 6)
(41336, 218, 18)
(41336, 231, 6)
(41336, 241, 18)
(41336, 242, 6)
(41336, 243, 18)
(41336, 248, 6)
(41336, 249, 6)
(41336, 252, 6)
(41336, 253, 6)
(41336, 254, 24)
(41336, 264, 42)
(41336, 265, 216)
(41336, 266, 702)
(41336, 267, 6)
(41336, 277, 6)
(41336, 282, 6)
(41336, 283, 6)
(41336, 285, 54)
(41336, 292, 48)
(41336, 295, 18)
(41336, 299, 138)
(41336, 300, 18)
(41336, 303, 6)
(41336, 304, 6)
(41336, 305, 6)
(41336, 307, 1248)
(41342, 265, 6)
(41342, 266, 36)
(41342, 276, 6)
(41342, 285, 6)
(41342, 299, 12)
(41342, 307, 12)
(41345, 15, 6)
(41345, 169, 6)
(41345, 195, 6)
(41345, 228, 6)
(41345, 243, 24)
(41345, 249, 6)
(41345, 266, 24)
(41345, 285, 12)
(41345, 292, 6)
(41345, 299, 18)
(41345, 305, 6)
(41345, 307, 12)
(41361, 69, 6)
(41361, 179, 6)
(41361, 264, 12)
(41361, 265, 30)
(41361, 266, 90)
(41361, 285, 6)
(41361, 307, 6)
(41367, 243, 6)
(41367, 264, 6)
(41367, 265, 30)
(41367, 266, 12)
(41367, 289, 6)
(41367, 292, 12)
(41367, 307, 18)
(41401, 0, 6)
(41401, 5, 6)
(41401, 10, 12)
(41401, 11, 12)
(41401, 17, 12)
(41401, 19, 18)
(41401, 20, 156)
(41401, 21, 6)
(41401, 23, 6)
(41401, 24, 6)
(41401, 25, 12)
(41401, 26, 18)
(41401, 32, 6)
(41401, 39, 30)
(41401, 44, 12)
(41401, 49, 30)
(41401, 50, 42)
(41401, 58, 6)
(41401, 60, 42)
(41401, 65, 12)
(41401, 69, 66)
(41401, 70, 6)
(41401, 72, 6)
(41401, 75, 36)
(41401, 76, 54)
(41401, 78, 66)
(41401, 81, 6)
(41401, 82, 18)
(41401, 83, 24)
(41401, 102, 24)
(41401, 103, 138)
(41401, 109, 216)
(41401, 111, 12)
(41401, 114, 12)
(41401, 117, 12)
(41401, 119, 60)
(41401, 122, 6)
(41401, 128, 108)
(41401, 129, 12)
(41401, 132, 12)
(41401, 139, 6)
(41401, 141, 192)
(41401, 143, 6)
(41401, 146, 6)
(41401, 147, 30)
(41401, 150, 12)
(41401, 152, 156)
(41401, 154, 6)
(41401, 155, 18)
(41401, 169, 18)
(41401, 173, 30)
(41401, 176, 6)
(41401, 178, 42)
(41401, 179, 240)
(41401, 182, 36)
(41401, 185, 6)
(41401, 187, 18)
(41401, 188, 6)
(41401, 189, 156)
(41401, 190, 6)
(41401, 192, 6)
(41401, 195, 120)
(41401, 197, 12)
(41401, 200, 42)
(41401, 201, 6)
(41401, 205, 312)
(41401, 206, 24)
(41401, 207, 48)
(41401, 212, 6)
(41401, 213, 120)
(41401, 218, 156)
(41401, 224, 12)
(41401, 227, 6)
(41401, 231, 6)
(41401, 234, 6)
(41401, 240, 6)
(41401, 241, 36)
(41401, 242, 18)
(41401, 243, 240)
(41401, 245, 6)
(41401, 246, 18)
(41401, 247, 114)
(41401, 248, 6)
(41401, 249, 42)
(41401, 250, 24)
(41401, 251, 66)
(41401, 252, 54)
(41401, 253, 6)
(41401, 254, 168)
(41401, 257, 6)
(41401, 260, 6)
(41401, 263, 6)
(41401, 264, 408)
(41401, 265, 2166)
(41401, 266, 7302)
(41401, 267, 6)
(41401, 271, 18)
(41401, 272, 12)
(41401, 273, 18)
(41401, 274, 6)
(41401, 276, 48)
(41401, 277, 6)
(41401, 280, 6)
(41401, 282, 36)
(41401, 283, 180)
(41401, 284, 12)
(41401, 285, 390)
(41401, 286, 6)
(41401, 287, 6)
(41401, 288, 36)
(41401, 289, 30)
(41401, 290, 6)
(41401, 292, 462)
(41401, 295, 30)
(41401, 296, 12)
(41401, 297, 6)
(41401, 298, 6)
(41401, 299, 600)
(41401, 300, 30)
(41401, 301, 18)
(41401, 302, 6)
(41401, 303, 54)
(41401, 304, 18)
(41401, 306, 150)
(41401, 307, 6936)
(41415, 109, 6)
(41415, 141, 6)
(41415, 266, 6)

In [25]:
adoptionspeed_by_postcode= engine.execute("Select State, AdoptionSpeed, COUNT(AdoptionSpeed) from train GROUP BY State, AdoptionSpeed ")

INFO:sqlalchemy.engine.base.Engine:Select State, AdoptionSpeed, COUNT(AdoptionSpeed) from train GROUP BY State, AdoptionSpeed
INFO:sqlalchemy.engine.base.Engine:()

In [26]:
for value in adoptionspeed_by_postcode:
    print(value)

(41324, 0, 24)
(41324, 1, 108)
(41324, 2, 138)
(41324, 3, 72)
(41324, 4, 480)
(41325, 0, 18)
(41325, 1, 84)
(41325, 2, 204)
(41325, 3, 138)
(41325, 4, 216)
(41326, 0, 1476)
(41326, 1, 11262)
(41326, 2, 14610)
(41326, 3, 12024)
(41326, 4, 12912)
(41327, 0, 48)
(41327, 1, 732)
(41327, 2, 1296)
(41327, 3, 1182)
(41327, 4, 1800)
(41330, 0, 18)
(41330, 1, 288)
(41330, 2, 666)
(41330, 3, 702)
(41330, 4, 846)
(41332, 0, 24)
(41332, 1, 216)
(41332, 2, 378)
(41332, 3, 252)
(41332, 4, 648)
(41335, 0, 18)
(41335, 1, 174)
(41335, 2, 84)
(41335, 3, 96)
(41335, 4, 138)
(41336, 0, 138)
(41336, 1, 678)
(41336, 2, 816)
(41336, 3, 618)
(41336, 4, 792)
(41342, 0, 6)
(41342, 1, 6)
(41342, 3, 12)
(41342, 4, 54)
(41345, 0, 6)
(41345, 1, 36)
(41345, 2, 18)
(41345, 3, 24)
(41345, 4, 48)
(41361, 1, 54)
(41361, 2, 12)
(41361, 3, 36)
(41361, 4, 54)
(41367, 0, 12)
(41367, 1, 18)
(41367, 2, 18)
(41367, 3, 6)
(41367, 4, 36)
(41401, 0, 672)
(41401, 1, 4884)
(41401, 2, 5976)
(41401, 3, 4386)
(41401, 4, 7152)
(41415, 2, 6)
(41415, 3, 6)
(41415, 4, 6)

In [27]:
engine.table_names()

INFO:sqlalchemy.engine.base.Engine:SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
INFO:sqlalchemy.engine.base.Engine:()

['breed_labels', 'color_labels', 'state_labels', 'train']

In [28]:
Age_by_postcode= engine.execute("Select State, Age, COUNT(Age) from train GROUP BY State, Age ")

INFO:sqlalchemy.engine.base.Engine:Select State, Age, COUNT(Age) from train GROUP BY State, Age
INFO:sqlalchemy.engine.base.Engine:()

In [29]:
for value in Age_by_postcode:
    print(value)

(41324, 0, 6)
(41324, 1, 78)
(41324, 2, 174)
(41324, 3, 126)
(41324, 4, 42)
(41324, 5, 36)
(41324, 6, 12)
(41324, 7, 18)
(41324, 8, 18)
(41324, 9, 6)
(41324, 10, 6)
(41324, 12, 78)
(41324, 14, 6)
(41324, 15, 12)
(41324, 18, 18)
(41324, 19, 6)
(41324, 23, 12)
(41324, 24, 78)
(41324, 27, 6)
(41324, 36, 18)
(41324, 42, 6)
(41324, 48, 12)
(41324, 49, 6)
(41324, 54, 6)
(41324, 57, 6)
(41324, 60, 18)
(41324, 108, 6)
(41324, 120, 6)
(41325, 0, 18)
(41325, 1, 120)
(41325, 2, 90)
(41325, 3, 168)
(41325, 4, 48)
(41325, 5, 12)
(41325, 6, 30)
(41325, 9, 12)
(41325, 10, 6)
(41325, 11, 12)
(41325, 12, 18)
(41325, 16, 6)
(41325, 18, 18)
(41325, 20, 12)
(41325, 24, 36)
(41325, 33, 6)
(41325, 36, 6)
(41325, 48, 18)
(41325, 60, 18)
(41325, 87, 6)
(41326, 0, 636)
(41326, 1, 8268)
(41326, 2, 12720)
(41326, 3, 6864)
(41326, 4, 3990)
(41326, 5, 2010)
(41326, 6, 1866)
(41326, 7, 990)
(41326, 8, 1014)
(41326, 9, 600)
(41326, 10, 570)
(41326, 11, 354)
(41326, 12, 3072)
(41326, 13, 126)
(41326, 14, 222)
(41326, 15, 282)
(41326, 16, 180)
(41326, 17, 222)
(41326, 18, 516)
(41326, 19, 114)
(41326, 20, 120)
(41326, 21, 114)
(41326, 22, 66)
(41326, 23, 30)
(41326, 24, 1974)
(41326, 25, 42)
(41326, 26, 54)
(41326, 27, 54)
(41326, 28, 42)
(41326, 29, 108)
(41326, 30, 192)
(41326, 31, 24)
(41326, 32, 54)
(41326, 33, 6)
(41326, 34, 18)
(41326, 35, 12)
(41326, 36, 1410)
(41326, 37, 42)
(41326, 38, 36)
(41326, 39, 24)
(41326, 41, 36)
(41326, 42, 84)
(41326, 43, 6)
(41326, 44, 6)
(41326, 45, 6)
(41326, 46, 12)
(41326, 47, 6)
(41326, 48, 840)
(41326, 49, 12)
(41326, 50, 30)
(41326, 51, 24)
(41326, 52, 18)
(41326, 53, 30)
(41326, 54, 30)
(41326, 55, 18)
(41326, 56, 6)
(41326, 57, 6)
(41326, 60, 714)
(41326, 61, 12)
(41326, 62, 18)
(41326, 63, 12)
(41326, 64, 12)
(41326, 65, 6)
(41326, 67, 12)
(41326, 72, 414)
(41326, 73, 12)
(41326, 74, 6)
(41326, 75, 6)
(41326, 76, 18)
(41326, 77, 6)
(41326, 78, 12)
(41326, 80, 12)
(41326, 82, 6)
(41326, 84, 360)
(41326, 85, 6)
(41326, 89, 12)
(41326, 92, 6)
(41326, 95, 6)
(41326, 96, 120)
(41326, 100, 6)
(41326, 102, 6)
(41326, 108, 66)
(41326, 120, 114)
(41326, 122, 6)
(41326, 123, 6)
(41326, 132, 36)
(41326, 135, 6)
(41326, 144, 18)
(41326, 147, 6)
(41326, 156, 6)
(41326, 168, 6)
(41326, 180, 6)
(41327, 0, 12)
(41327, 1, 924)
(41327, 2, 1554)
(41327, 3, 612)
(41327, 4, 252)
(41327, 5, 144)
(41327, 6, 168)
(41327, 7, 60)
(41327, 8, 102)
(41327, 9, 36)
(41327, 10, 18)
(41327, 11, 18)
(41327, 12, 306)
(41327, 13, 18)
(41327, 15, 18)
(41327, 16, 30)
(41327, 17, 48)
(41327, 18, 42)
(41327, 20, 12)
(41327, 21, 6)
(41327, 22, 6)
(41327, 24, 198)
(41327, 26, 6)
(41327, 28, 12)
(41327, 29, 12)
(41327, 30, 12)
(41327, 32, 6)
(41327, 34, 6)
(41327, 36, 90)
(41327, 40, 6)
(41327, 41, 6)
(41327, 42, 12)
(41327, 48, 60)
(41327, 49, 12)
(41327, 54, 12)
(41327, 55, 6)
(41327, 60, 42)
(41327, 72, 36)
(41327, 84, 48)
(41327, 96, 42)
(41327, 108, 6)
(41327, 117, 6)
(41327, 120, 12)
(41327, 132, 12)
(41327, 180, 6)
(41327, 238, 6)
(41330, 0, 18)
(41330, 1, 390)
(41330, 2, 564)
(41330, 3, 282)
(41330, 4, 198)
(41330, 5, 108)
(41330, 6, 96)
(41330, 7, 48)
(41330, 8, 78)
(41330, 9, 66)
(41330, 10, 18)
(41330, 11, 12)
(41330, 12, 174)
(41330, 14, 30)
(41330, 15, 18)
(41330, 18, 36)
(41330, 19, 6)
(41330, 20, 6)
(41330, 22, 12)
(41330, 24, 120)
(41330, 28, 6)
(41330, 30, 6)
(41330, 32, 6)
(41330, 36, 90)
(41330, 41, 6)
(41330, 42, 6)
(41330, 48, 18)
(41330, 50, 6)
(41330, 53, 6)
(41330, 60, 30)
(41330, 66, 6)
(41330, 68, 6)
(41330, 72, 12)
(41330, 88, 6)
(41330, 96, 6)
(41330, 108, 6)
(41330, 212, 6)
(41330, 255, 12)
(41332, 0, 30)
(41332, 1, 288)
(41332, 2, 372)
(41332, 3, 210)
(41332, 4, 66)
(41332, 5, 42)
(41332, 6, 48)
(41332, 7, 24)
(41332, 8, 12)
(41332, 9, 6)
(41332, 10, 24)
(41332, 11, 6)
(41332, 12, 132)
(41332, 13, 6)
(41332, 14, 18)
(41332, 15, 6)
(41332, 16, 6)
(41332, 17, 6)
(41332, 18, 18)
(41332, 20, 12)
(41332, 24, 84)
(41332, 27, 12)
(41332, 30, 6)
(41332, 36, 24)
(41332, 38, 6)
(41332, 48, 18)
(41332, 54, 6)
(41332, 60, 18)
(41332, 84, 6)
(41332, 86, 6)
(41335, 0, 6)
(41335, 1, 144)
(41335, 2, 114)
(41335, 3, 60)
(41335, 4, 48)
(41335, 5, 6)
(41335, 6, 6)
(41335, 7, 18)
(41335, 10, 6)
(41335, 11, 6)
(41335, 12, 18)
(41335, 16, 6)
(41335, 18, 18)
(41335, 24, 24)
(41335, 36, 12)
(41335, 48, 18)
(41336, 0, 84)
(41336, 1, 498)
(41336, 2, 546)
(41336, 3, 384)
(41336, 4, 192)
(41336, 5, 132)
(41336, 6, 114)
(41336, 7, 108)
(41336, 8, 54)
(41336, 9, 60)
(41336, 10, 42)
(41336, 11, 12)
(41336, 12, 252)
(41336, 14, 18)
(41336, 15, 12)
(41336, 16, 6)
(41336, 17, 24)
(41336, 18, 30)
(41336, 20, 12)
(41336, 24, 174)
(41336, 29, 6)
(41336, 30, 12)
(41336, 34, 6)
(41336, 35, 6)
(41336, 36, 78)
(41336, 47, 6)
(41336, 48, 42)
(41336, 50, 12)
(41336, 51, 6)
(41336, 54, 6)
(41336, 56, 6)
(41336, 60, 36)
(41336, 72, 30)
(41336, 84, 6)
(41336, 96, 24)
(41336, 112, 6)
(41342, 2, 18)
(41342, 3, 18)
(41342, 4, 18)
(41342, 6, 6)
(41342, 12, 6)
(41342, 28, 6)
(41342, 29, 6)
(41345, 1, 30)
(41345, 2, 18)
(41345, 3, 12)
(41345, 4, 6)
(41345, 14, 6)
(41345, 15, 6)
(41345, 18, 12)
(41345, 20, 6)
(41345, 24, 18)
(41345, 30, 6)
(41345, 36, 12)
(41361, 1, 18)
(41361, 2, 12)
(41361, 3, 18)
(41361, 4, 24)
(41361, 5, 18)
(41361, 6, 12)
(41361, 7, 6)
(41361, 8, 12)
(41361, 12, 12)
(41361, 19, 6)
(41361, 26, 6)
(41361, 60, 6)
(41361, 84, 6)
(41367, 1, 18)
(41367, 2, 12)
(41367, 3, 6)
(41367, 4, 6)
(41367, 8, 18)
(41367, 12, 12)
(41367, 15, 6)
(41367, 16, 6)
(41367, 24, 6)
(41401, 0, 264)
(41401, 1, 3048)
(41401, 2, 4824)
(41401, 3, 3036)
(41401, 4, 1758)
(41401, 5, 1056)
(41401, 6, 990)
(41401, 7, 414)
(41401, 8, 546)
(41401, 9, 318)
(41401, 10, 276)
(41401, 11, 144)
(41401, 12, 1722)
(41401, 13, 90)
(41401, 14, 156)
(41401, 15, 114)
(41401, 16, 60)
(41401, 17, 102)
(41401, 18, 282)
(41401, 19, 24)
(41401, 20, 12)
(41401, 21, 48)
(41401, 22, 30)
(41401, 23, 6)
(41401, 24, 1194)
(41401, 25, 18)
(41401, 26, 12)
(41401, 27, 30)
(41401, 28, 12)
(41401, 29, 18)
(41401, 30, 78)
(41401, 31, 30)
(41401, 32, 24)
(41401, 33, 12)
(41401, 36, 762)
(41401, 38, 6)
(41401, 39, 18)
(41401, 40, 6)
(41401, 41, 12)
(41401, 42, 24)
(41401, 45, 6)
(41401, 46, 18)
(41401, 48, 420)
(41401, 49, 6)
(41401, 51, 12)
(41401, 52, 6)
(41401, 53, 12)
(41401, 54, 30)
(41401, 55, 12)
(41401, 56, 6)
(41401, 60, 312)
(41401, 61, 6)
(41401, 62, 18)
(41401, 64, 6)
(41401, 65, 18)
(41401, 67, 6)
(41401, 69, 6)
(41401, 72, 132)
(41401, 76, 6)
(41401, 77, 12)
(41401, 78, 18)
(41401, 80, 6)
(41401, 81, 6)
(41401, 84, 186)
(41401, 91, 6)
(41401, 92, 6)
(41401, 96, 84)
(41401, 108, 42)
(41401, 112, 6)
(41401, 120, 66)
(41401, 144, 6)
(41401, 212, 12)
(41415, 4, 6)
(41415, 5, 6)
(41415, 10, 6)