In [19]:
import os
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)

In [20]:
app.config["SQLALCHEMY_DATABASE_URI"] = "sqlite:///db/pet_adoptions.sqlite"
db = SQLAlchemy(app)

D:\Users\Black\Anaconda3\envs\PythonData2\lib\site-packages\flask_sqlalchemy\__init__.py:835: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [21]:
Base = automap_base()

In [22]:
Base.prepare(db.engine, reflect=True)

In [23]:
breed_file= "static/data/breed_labels.csv"
breed_df= pd.read_csv(breed_file)
breed_df.head()

   BreedID  Type         BreedName
0        1     1     Affenpinscher
1        2     1      Afghan Hound
2        3     1  Airedale Terrier
3        4     1            Akbash
4        5     1             Akita

In [24]:

breed_df.describe()

          BreedID        Type
count  307.000000  307.000000
mean   154.000000    1.214984
std     88.767487    0.411482
min      1.000000    1.000000
25%     77.500000    1.000000
50%    154.000000    1.000000
75%    230.500000    1.000000
max    307.000000    2.000000

In [25]:
engine = create_engine("sqlite:///pet_adoptions.sqlite", echo=False)

In [26]:
engine.table_names()

[]

In [27]:
color_file= "static/data/color_labels.csv"
color_df= pd.read_csv(color_file)
color_df.head()

   ColorID ColorName
0        1     Black
1        2     Brown
2        3    Golden
3        4    Yellow
4        5     Cream

In [28]:
color_df.describe()

        ColorID
count  7.000000
mean   4.000000
std    2.160247
min    1.000000
25%    2.500000
50%    4.000000
75%    5.500000
max    7.000000

In [29]:
breed_df.to_sql(name='breed_labels', con=engine, if_exists='append', index=True)
color_df.to_sql(name='color_labels', con=engine, if_exists='append', index=True)

In [30]:
engine.table_names()

['breed_labels', 'color_labels']

In [31]:
train_file= "static/data/train.csv"
train_df= pd.read_csv(train_file)
train_df.head()

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed
0,2,Nibble,3,299,0,1,1,7,0,1,...,1,1,100,41326,8480853f516546f6cf33aa88cd76c379,0,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,1.0,2
1,2,No Name Yet,1,265,0,1,1,2,0,2,...,1,1,0,41401,3082c7125d8fb66f7dd4bff4192c8b14,0,I just found it alone yesterday near my apartm...,6296e909a,2.0,0
2,1,Brisco,1,307,0,1,2,7,0,2,...,1,1,0,41326,fa90fa5b1ee11c86938398b60abc32cb,0,Their pregnant mother was dumped by her irresp...,3422e4906,7.0,3
3,1,Miko,4,307,0,2,1,2,0,2,...,1,1,150,41401,9238e4f44c71a75282e62f7136c6b240,0,"Good guard dog, very alert, active, obedience ...",5842f1ff5,8.0,2
4,1,Hunter,1,307,0,1,1,0,0,2,...,1,1,0,41326,95481e953f8aed9ec3d16fc4509537e8,0,This handsome yet cute boy is up for adoption....,850a43f90,3.0,2

In [32]:
train_df.describe()

,Type,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,FurLength,Vaccinated,Dewormed,Sterilized,Health,Quantity,Fee,State,VideoAmt,PhotoAmt,AdoptionSpeed
count,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000,14993.000000
mean,1.457614,10.452078,265.272594,74.009738,1.776162,2.234176,3.222837,1.882012,1.862002,1.467485,1.731208,1.558727,1.914227,1.036617,1.576069,21.259988,41346.028347,0.056760,3.889215,2.516441
std,0.498217,18.155790,60.056818,123.011575,0.681592,1.745225,2.742562,2.984086,0.547959,0.599070,0.667649,0.695817,0.566172,0.199535,1.472477,78.414548,32.444153,0.346185,3.487810,1.177265
min,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,41324.000000,0.000000,0.000000,0.000000
25%,1.000000,2.000000,265.000000,0.000000,1.000000,1.000000,0.000000,0.000000,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,0.000000,41326.000000,0.000000,2.000000,2.000000
50%,1.000000,3.000000,266.000000,0.000000,2.000000,2.000000,2.000000,0.000000,2.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,0.000000,41326.000000,0.000000,3.000000,2.000000
75%,2.000000,12.000000,307.000000,179.000000,2.000000,3.000000,6.000000,5.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,0.000000,41401.000000,0.000000,5.000000,4.000000
max,2.000000,255.000000,307.000000,307.000000,3.000000,7.000000,7.000000,7.000000,4.000000,3.000000,3.000000,3.000000,3.000000,3.000000,20.000000,3000.000000,41415.000000,8.000000,30.000000,4.000000

In [33]:
train_df.to_sql(name='train', con=engine, if_exists='append', index=True)

In [34]:
postcode_file= "static/data/geocoded_state_labels.csv"
postcode_df= pd.read_csv(postcode_file)
postcode_df.head()

   StateID     StateName               LatLong
0    41336         Johor  1.934400, 103.358727
1    41325         Kedah  6.155672, 100.569649
2    41367      Kelantan  6.125397, 102.238068
3    41401  Kuala Lumpur     3.1412, 101.68653
4    41415        Labuan  5.285153, 115.247787

In [35]:
postcode_df.describe()

            StateID
count     15.000000
mean   41349.733333
std       29.001149
min    41324.000000
25%    41328.500000
50%    41336.000000
75%    41364.000000
max    41415.000000

In [36]:
postcode_df.to_sql(name='state_labels', con=engine, if_exists='append', index=True)

In [37]:
color_id1=engine.execute("SELECT State from train where Color1 = 1")

In [38]:

color_id7=engine.execute("SELECT State from train where Color1 = 7")

In [39]:

color_by_postcode= engine.execute("Select State, Color1, COUNT(COLOR1) from train Group By State, Color1")

In [40]:
print(color_by_postcode)
for value in color_by_postcode:
    print(value)

<sqlalchemy.engine.result.ResultProxy object at 0x0000026C2BA2F5F8>
(41324, 1, 53)
(41324, 2, 45)
(41324, 3, 9)
(41324, 4, 5)
(41324, 5, 8)
(41324, 6, 5)
(41324, 7, 12)
(41325, 1, 63)
(41325, 2, 22)
(41325, 3, 12)
(41325, 4, 1)
(41325, 5, 7)
(41325, 6, 2)
(41325, 7, 3)
(41326, 1, 4351)
(41326, 2, 2241)
(41326, 3, 550)
(41326, 4, 294)
(41326, 5, 525)
(41326, 6, 380)
(41326, 7, 373)
(41327, 1, 415)
(41327, 2, 231)
(41327, 3, 41)
(41327, 4, 32)
(41327, 5, 48)
(41327, 6, 30)
(41327, 7, 46)
(41330, 1, 209)
(41330, 2, 118)
(41330, 3, 17)
(41330, 4, 13)
(41330, 5, 37)
(41330, 6, 15)
(41330, 7, 11)
(41332, 1, 128)
(41332, 2, 63)
(41332, 3, 10)
(41332, 4, 12)
(41332, 5, 19)
(41332, 6, 10)
(41332, 7, 11)
(41335, 1, 47)
(41335, 2, 17)
(41335, 3, 3)
(41335, 4, 3)
(41335, 5, 3)
(41335, 6, 3)
(41335, 7, 9)
(41336, 1, 248)
(41336, 2, 120)
(41336, 3, 27)
(41336, 4, 29)
(41336, 5, 27)
(41336, 6, 26)
(41336, 7, 30)
(41342, 1, 11)
(41342, 2, 1)
(41342, 4, 1)
(41345, 1, 9)
(41345, 2, 6)
(41345, 4, 5)
(41345, 6, 2)
(41361, 1, 7)
(41361, 2, 4)
(41361, 3, 4)
(41361, 4, 5)
(41361, 5, 2)
(41361, 6, 4)
(41367, 1, 6)
(41367, 2, 3)
(41367, 5, 2)
(41367, 6, 1)
(41367, 7, 3)
(41401, 1, 1880)
(41401, 2, 879)
(41401, 3, 273)
(41401, 4, 234)
(41401, 5, 204)
(41401, 6, 206)
(41401, 7, 169)
(41415, 3, 1)
(41415, 5, 2)

In [41]:
breed_by_postcode= engine.execute("Select State, Breed1, COUNT(Breed1) from train GROUP BY State, Breed1 ")

In [42]:
for value in breed_by_postcode:
    print(value)

(41324, 98, 1)
(41324, 109, 2)
(41324, 141, 1)
(41324, 152, 1)
(41324, 179, 5)
(41324, 190, 1)
(41324, 195, 1)
(41324, 205, 2)
(41324, 218, 1)
(41324, 265, 19)
(41324, 266, 21)
(41324, 285, 6)
(41324, 292, 2)
(41324, 296, 1)
(41324, 299, 1)
(41324, 307, 72)
(41325, 39, 1)
(41325, 103, 3)
(41325, 109, 1)
(41325, 141, 13)
(41325, 152, 1)
(41325, 179, 1)
(41325, 195, 1)
(41325, 205, 1)
(41325, 218, 1)
(41325, 251, 1)
(41325, 254, 1)
(41325, 264, 2)
(41325, 265, 10)
(41325, 266, 29)
(41325, 268, 1)
(41325, 285, 5)
(41325, 289, 1)
(41325, 292, 2)
(41325, 297, 1)
(41325, 307, 34)
(41326, 0, 3)
(41326, 1, 1)
(41326, 3, 1)
(41326, 5, 1)
(41326, 10, 1)
(41326, 15, 1)
(41326, 17, 4)
(41326, 18, 6)
(41326, 19, 4)
(41326, 20, 51)
(41326, 24, 1)
(41326, 25, 1)
(41326, 26, 21)
(41326, 31, 8)
(41326, 32, 2)
(41326, 39, 13)
(41326, 42, 3)
(41326, 44, 7)
(41326, 49, 10)
(41326, 50, 4)
(41326, 56, 1)
(41326, 60, 19)
(41326, 61, 1)
(41326, 64, 1)
(41326, 65, 1)
(41326, 69, 24)
(41326, 70, 11)
(41326, 71, 2)
(41326, 72, 12)
(41326, 75, 14)
(41326, 76, 22)
(41326, 78, 48)
(41326, 82, 2)
(41326, 83, 4)
(41326, 85, 1)
(41326, 88, 2)
(41326, 97, 3)
(41326, 98, 1)
(41326, 99, 1)
(41326, 100, 1)
(41326, 102, 1)
(41326, 103, 63)
(41326, 105, 4)
(41326, 108, 1)
(41326, 109, 89)
(41326, 111, 3)
(41326, 114, 1)
(41326, 117, 9)
(41326, 119, 20)
(41326, 122, 2)
(41326, 125, 1)
(41326, 128, 37)
(41326, 129, 1)
(41326, 130, 1)
(41326, 141, 133)
(41326, 145, 2)
(41326, 147, 10)
(41326, 148, 2)
(41326, 150, 2)
(41326, 152, 33)
(41326, 165, 1)
(41326, 167, 2)
(41326, 169, 13)
(41326, 173, 14)
(41326, 178, 13)
(41326, 179, 96)
(41326, 182, 14)
(41326, 185, 4)
(41326, 187, 1)
(41326, 188, 1)
(41326, 189, 50)
(41326, 190, 3)
(41326, 195, 38)
(41326, 199, 1)
(41326, 200, 8)
(41326, 202, 5)
(41326, 203, 2)
(41326, 204, 3)
(41326, 205, 109)
(41326, 206, 18)
(41326, 207, 13)
(41326, 213, 64)
(41326, 214, 1)
(41326, 215, 2)
(41326, 218, 124)
(41326, 224, 1)
(41326, 227, 2)
(41326, 231, 5)
(41326, 232, 2)
(41326, 233, 1)
(41326, 234, 1)
(41326, 237, 2)
(41326, 239, 12)
(41326, 240, 4)
(41326, 241, 16)
(41326, 242, 12)
(41326, 243, 40)
(41326, 244, 5)
(41326, 246, 1)
(41326, 247, 48)
(41326, 249, 8)
(41326, 250, 8)
(41326, 251, 19)
(41326, 252, 12)
(41326, 253, 3)
(41326, 254, 63)
(41326, 256, 1)
(41326, 260, 1)
(41326, 262, 3)
(41326, 263, 2)
(41326, 264, 199)
(41326, 265, 714)
(41326, 266, 1973)
(41326, 268, 3)
(41326, 269, 2)
(41326, 270, 2)
(41326, 272, 3)
(41326, 273, 3)
(41326, 274, 4)
(41326, 276, 25)
(41326, 277, 4)
(41326, 279, 2)
(41326, 280, 4)
(41326, 281, 2)
(41326, 282, 10)
(41326, 283, 34)
(41326, 284, 4)
(41326, 285, 121)
(41326, 288, 10)
(41326, 289, 18)
(41326, 292, 148)
(41326, 293, 3)
(41326, 294, 4)
(41326, 295, 4)
(41326, 296, 1)
(41326, 297, 3)
(41326, 299, 198)
(41326, 300, 9)
(41326, 301, 1)
(41326, 303, 30)
(41326, 304, 3)
(41326, 305, 6)
(41326, 306, 28)
(41326, 307, 3538)
(41327, 16, 1)
(41327, 20, 6)
(41327, 44, 1)
(41327, 49, 1)
(41327, 50, 1)
(41327, 58, 1)
(41327, 60, 9)
(41327, 69, 1)
(41327, 75, 6)
(41327, 76, 3)
(41327, 78, 2)
(41327, 83, 1)
(41327, 100, 2)
(41327, 102, 1)
(41327, 103, 3)
(41327, 109, 6)
(41327, 119, 2)
(41327, 128, 2)
(41327, 141, 15)
(41327, 147, 2)
(41327, 152, 3)
(41327, 169, 1)
(41327, 179, 10)
(41327, 182, 1)
(41327, 189, 2)
(41327, 195, 3)
(41327, 199, 1)
(41327, 203, 1)
(41327, 205, 6)
(41327, 207, 2)
(41327, 213, 2)
(41327, 218, 5)
(41327, 243, 3)
(41327, 247, 1)
(41327, 249, 2)
(41327, 250, 2)
(41327, 251, 2)
(41327, 252, 1)
(41327, 254, 4)
(41327, 264, 3)
(41327, 265, 51)
(41327, 266, 120)
(41327, 267, 1)
(41327, 268, 1)
(41327, 273, 1)
(41327, 277, 2)
(41327, 283, 6)
(41327, 285, 6)
(41327, 292, 14)
(41327, 296, 1)
(41327, 299, 6)
(41327, 300, 2)
(41327, 301, 1)
(41327, 303, 1)
(41327, 306, 1)
(41327, 307, 508)
(41330, 1, 1)
(41330, 7, 1)
(41330, 15, 1)
(41330, 20, 2)
(41330, 26, 1)
(41330, 39, 2)
(41330, 42, 1)
(41330, 69, 2)
(41330, 72, 2)
(41330, 75, 1)
(41330, 76, 1)
(41330, 78, 1)
(41330, 100, 1)
(41330, 103, 3)
(41330, 109, 2)
(41330, 119, 1)
(41330, 123, 1)
(41330, 128, 1)
(41330, 141, 7)
(41330, 152, 2)
(41330, 178, 1)
(41330, 179, 9)
(41330, 189, 6)
(41330, 195, 3)
(41330, 202, 1)
(41330, 205, 4)
(41330, 207, 1)
(41330, 213, 1)
(41330, 218, 2)
(41330, 241, 3)
(41330, 242, 1)
(41330, 245, 1)
(41330, 247, 3)
(41330, 251, 1)
(41330, 254, 3)
(41330, 264, 7)
(41330, 265, 12)
(41330, 266, 40)
(41330, 268, 1)
(41330, 285, 3)
(41330, 289, 1)
(41330, 292, 4)
(41330, 295, 1)
(41330, 299, 8)
(41330, 300, 2)
(41330, 306, 1)
(41330, 307, 266)
(41332, 19, 2)
(41332, 20, 1)
(41332, 39, 1)
(41332, 60, 1)
(41332, 109, 2)
(41332, 119, 1)
(41332, 141, 1)
(41332, 173, 1)
(41332, 178, 1)
(41332, 179, 2)
(41332, 205, 3)
(41332, 206, 2)
(41332, 233, 1)
(41332, 243, 2)
(41332, 254, 1)
(41332, 256, 1)
(41332, 264, 7)
(41332, 265, 30)
(41332, 266, 57)
(41332, 272, 1)
(41332, 279, 1)
(41332, 283, 2)
(41332, 285, 1)
(41332, 292, 5)
(41332, 299, 1)
(41332, 303, 1)
(41332, 306, 1)
(41332, 307, 123)
(41335, 15, 6)
(41335, 39, 4)
(41335, 76, 1)
(41335, 93, 1)
(41335, 129, 1)
(41335, 173, 1)
(41335, 205, 3)
(41335, 206, 1)
(41335, 213, 1)
(41335, 217, 1)
(41335, 243, 1)
(41335, 254, 1)
(41335, 265, 14)
(41335, 266, 32)
(41335, 284, 1)
(41335, 285, 1)
(41335, 292, 1)
(41335, 307, 14)
(41336, 0, 1)
(41336, 20, 4)
(41336, 26, 1)
(41336, 42, 1)
(41336, 60, 1)
(41336, 69, 2)
(41336, 75, 1)
(41336, 76, 3)
(41336, 103, 3)
(41336, 108, 1)
(41336, 109, 12)
(41336, 111, 1)
(41336, 119, 3)
(41336, 128, 6)
(41336, 141, 2)
(41336, 147, 2)
(41336, 152, 1)
(41336, 173, 2)
(41336, 179, 3)
(41336, 189, 4)
(41336, 195, 2)
(41336, 205, 10)
(41336, 213, 1)
(41336, 218, 3)
(41336, 231, 1)
(41336, 241, 3)
(41336, 242, 1)
(41336, 243, 3)
(41336, 248, 1)
(41336, 249, 1)
(41336, 252, 1)
(41336, 253, 1)
(41336, 254, 4)
(41336, 264, 7)
(41336, 265, 36)
(41336, 266, 117)
(41336, 267, 1)
(41336, 277, 1)
(41336, 282, 1)
(41336, 283, 1)
(41336, 285, 9)
(41336, 292, 8)
(41336, 295, 3)
(41336, 299, 23)
(41336, 300, 3)
(41336, 303, 1)
(41336, 304, 1)
(41336, 305, 1)
(41336, 307, 208)
(41342, 265, 1)
(41342, 266, 6)
(41342, 276, 1)
(41342, 285, 1)
(41342, 299, 2)
(41342, 307, 2)
(41345, 15, 1)
(41345, 169, 1)
(41345, 195, 1)
(41345, 228, 1)
(41345, 243, 4)
(41345, 249, 1)
(41345, 266, 4)
(41345, 285, 2)
(41345, 292, 1)
(41345, 299, 3)
(41345, 305, 1)
(41345, 307, 2)
(41361, 69, 1)
(41361, 179, 1)
(41361, 264, 2)
(41361, 265, 5)
(41361, 266, 15)
(41361, 285, 1)
(41361, 307, 1)
(41367, 243, 1)
(41367, 264, 1)
(41367, 265, 5)
(41367, 266, 2)
(41367, 289, 1)
(41367, 292, 2)
(41367, 307, 3)
(41401, 0, 1)
(41401, 5, 1)
(41401, 10, 2)
(41401, 11, 2)
(41401, 17, 2)
(41401, 19, 3)
(41401, 20, 26)
(41401, 21, 1)
(41401, 23, 1)
(41401, 24, 1)
(41401, 25, 2)
(41401, 26, 3)
(41401, 32, 1)
(41401, 39, 5)
(41401, 44, 2)
(41401, 49, 5)
(41401, 50, 7)
(41401, 58, 1)
(41401, 60, 7)
(41401, 65, 2)
(41401, 69, 11)
(41401, 70, 1)
(41401, 72, 1)
(41401, 75, 6)
(41401, 76, 9)
(41401, 78, 11)
(41401, 81, 1)
(41401, 82, 3)
(41401, 83, 4)
(41401, 102, 4)
(41401, 103, 23)
(41401, 109, 36)
(41401, 111, 2)
(41401, 114, 2)
(41401, 117, 2)
(41401, 119, 10)
(41401, 122, 1)
(41401, 128, 18)
(41401, 129, 2)
(41401, 132, 2)
(41401, 139, 1)
(41401, 141, 32)
(41401, 143, 1)
(41401, 146, 1)
(41401, 147, 5)
(41401, 150, 2)
(41401, 152, 26)
(41401, 154, 1)
(41401, 155, 3)
(41401, 169, 3)
(41401, 173, 5)
(41401, 176, 1)
(41401, 178, 7)
(41401, 179, 40)
(41401, 182, 6)
(41401, 185, 1)
(41401, 187, 3)
(41401, 188, 1)
(41401, 189, 26)
(41401, 190, 1)
(41401, 192, 1)
(41401, 195, 20)
(41401, 197, 2)
(41401, 200, 7)
(41401, 201, 1)
(41401, 205, 52)
(41401, 206, 4)
(41401, 207, 8)
(41401, 212, 1)
(41401, 213, 20)
(41401, 218, 26)
(41401, 224, 2)
(41401, 227, 1)
(41401, 231, 1)
(41401, 234, 1)
(41401, 240, 1)
(41401, 241, 6)
(41401, 242, 3)
(41401, 243, 40)
(41401, 245, 1)
(41401, 246, 3)
(41401, 247, 19)
(41401, 248, 1)
(41401, 249, 7)
(41401, 250, 4)
(41401, 251, 11)
(41401, 252, 9)
(41401, 253, 1)
(41401, 254, 28)
(41401, 257, 1)
(41401, 260, 1)
(41401, 263, 1)
(41401, 264, 68)
(41401, 265, 361)
(41401, 266, 1217)
(41401, 267, 1)
(41401, 271, 3)
(41401, 272, 2)
(41401, 273, 3)
(41401, 274, 1)
(41401, 276, 8)
(41401, 277, 1)
(41401, 280, 1)
(41401, 282, 6)
(41401, 283, 30)
(41401, 284, 2)
(41401, 285, 65)
(41401, 286, 1)
(41401, 287, 1)
(41401, 288, 6)
(41401, 289, 5)
(41401, 290, 1)
(41401, 292, 77)
(41401, 295, 5)
(41401, 296, 2)
(41401, 297, 1)
(41401, 298, 1)
(41401, 299, 100)
(41401, 300, 5)
(41401, 301, 3)
(41401, 302, 1)
(41401, 303, 9)
(41401, 304, 3)
(41401, 306, 25)
(41401, 307, 1156)
(41415, 109, 1)
(41415, 141, 1)
(41415, 266, 1)

In [43]:
adoptionspeed_by_postcode= engine.execute("Select State, AdoptionSpeed, COUNT(AdoptionSpeed) from train GROUP BY State, AdoptionSpeed ")

In [44]:
for value in adoptionspeed_by_postcode:
    print(value)

(41324, 0, 4)
(41324, 1, 18)
(41324, 2, 23)
(41324, 3, 12)
(41324, 4, 80)
(41325, 0, 3)
(41325, 1, 14)
(41325, 2, 34)
(41325, 3, 23)
(41325, 4, 36)
(41326, 0, 246)
(41326, 1, 1877)
(41326, 2, 2435)
(41326, 3, 2004)
(41326, 4, 2152)
(41327, 0, 8)
(41327, 1, 122)
(41327, 2, 216)
(41327, 3, 197)
(41327, 4, 300)
(41330, 0, 3)
(41330, 1, 48)
(41330, 2, 111)
(41330, 3, 117)
(41330, 4, 141)
(41332, 0, 4)
(41332, 1, 36)
(41332, 2, 63)
(41332, 3, 42)
(41332, 4, 108)
(41335, 0, 3)
(41335, 1, 29)
(41335, 2, 14)
(41335, 3, 16)
(41335, 4, 23)
(41336, 0, 23)
(41336, 1, 113)
(41336, 2, 136)
(41336, 3, 103)
(41336, 4, 132)
(41342, 0, 1)
(41342, 1, 1)
(41342, 3, 2)
(41342, 4, 9)
(41345, 0, 1)
(41345, 1, 6)
(41345, 2, 3)
(41345, 3, 4)
(41345, 4, 8)
(41361, 1, 9)
(41361, 2, 2)
(41361, 3, 6)
(41361, 4, 9)
(41367, 0, 2)
(41367, 1, 3)
(41367, 2, 3)
(41367, 3, 1)
(41367, 4, 6)
(41401, 0, 112)
(41401, 1, 814)
(41401, 2, 996)
(41401, 3, 731)
(41401, 4, 1192)
(41415, 2, 1)
(41415, 3, 1)
(41415, 4, 1)

In [45]:
engine.table_names()

['breed_labels', 'color_labels', 'state_labels', 'train']